<?xml version="1.0"?>

<launch>
    <node pkg="human_detect_hog" type="human_detect_hog" name="human_detect_hog"/>
    <node pkg="person_tracking_filter_kalman" type="person_tracking_filter_kalman_node" name="person_tracking_filter_kalman_node"/>
    <node pkg="person_publisher" type="person_publisher_node" name="person_publisher_node"/>
    <include file="$(find leg_detector)/launch/leg_detector.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser 100" />

  #### start the laser scan_matcher ##############################
<!--
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node" output="screen">

    <param name="fixed_frame" value = "odom"/>
    <param name="max_iterations" value="10"/>

  </node>
-->
    <!--<include file="$(find laser_scan_matcher)/demo/leg_detect_test_bag2.launch"/>-->
    <!--<node pkg="rviz" type="rviz" name="rviz_tracking" args="-d tracking.rviz"/>-->
</launch>
